* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(238,231,234);
  background: radial-gradient(circle, rgba(238,231,234,1) 34%, rgba(144,144,145,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celular {
  width: 550px;
}

.container {
  border: 2px solid #bababa;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 550px;
  padding: 40px;
  border-radius: 3px;
}

input {
  height: 36px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 10px;

}

button {
  background-color: #0095f6;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.3;
}

.facebook {
  color: #385185;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
}

.facebook:active{
  color: #ed36f3;
}

.senha {
  color: #385185;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
}

.senha:active{
  color: #ed36f3;
}

p {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cadastro {
  color: #385185;
  cursor: pointer;
  font-size: 12px;
}

.cadastro:active{
  color: #ed36f3;
}

.link {
  width: 100px;
  margin-left: 49px;
  cursor: pointer;
}

.link:hover {
  opacity: 0.5;
}

.link:active {
  opacity: 0.3;
}

.link2 {
  width: 100px;
  margin-left: 206px;
  margin-top: -35px;
  display: flex;
  cursor: pointer;
}

.link2:hover {
  opacity: 0.5;
}

.link2:active {
  opacity: 0.3;
}

.imagens {
  position: relative;
}



.img-insta {
  height: 637px;
  position: absolute;
  left: 186px;
  top: 34px;
  transition: 2s ease-in-out;
}